.h1 {
    font-size:24px;
    
}

#content {
    margin:auto;
    width:800px;
    height:100%;
    padding:20px;
    background-color:#eee;
    text-align:center;
    border: 1px solid #b0bfd2;
}

.centered {
    display:block;
    margin:auto;
    padding:10px;
}

img {
    max-width: 780px;
}